<div id="<%= dom_id archive %>">
  <p>
    <strong>Full name:</strong>
    <%= archive.full_name %>
  </p>

  <p>
    <strong>Note title:</strong>
    <%= archive.note_title %>
  </p>

  <p>
    <strong>Note space:</strong>
    <%= archive.note_space %>
  </p>

</div>
