<h1>Home Page</h1>

<div class= "box">
<p>Welcome to NoteTaker!</p>

<p>Here you can add notes for whatever you need
Recipes, todo lists, bucket lists, personal reminders, etc.
<br>You can even add images in the spare box below</p>

<p>You can even make little archive notes with the Archives link incase there's anything important you want to jot down.</p>

<p>So what are you waiting for? Click the links above to get started</p>
</div>